#login-buttons
  color transparent
  height 50px
  background url("https://openmerchantaccount.com/img2/fill-1@3x.png")
  background-repeat no-repeat
  background-size 25%

.logged-in-display
  padding 50px 0 0 20px
  