@import "panel.import.styl"
@import "accounts-ui.import.styl"
@import "global-chat.import.styl"

html, body, .app-container
  height 100%
  margin 0
  font-family sans-serif

.app-global-container
  display flex
  flex-direction row