.direct-chat-window-container
  width 100%
  height 100vh
  padding 0 2rem 2rem 2rem
  overflow scroll

.direct-title-hambuger-container
  position fixed
  width 100%
  background white
  display flex
  justify-content center
  border-bottom 1px solid #e7e7e7

.direct-chat-window-title
  color #f59000
  font-size 20px
  
.direct-message-list
  padding 120px 0 30px 15%
  list-style none
  line-height 22px
  margin 0
  
.direct-chat-message-text-container
  display flex
  flex-direction column
  padding 1rem 0
  border-bottom 1px solid #e7e7e7

.direct-chat-message-username
  font-weight 800

.direct-chat-message-text
  font-weight 100

.new-direct-message input[type=text] 
  width 90%
  border 3px solid #f59000
  line-height 25px
  padding 14px
  font-size 14px

.new-direct-message
  width 75%
  position fixed
  bottom 0
  right 0
  
.direct-message-text-container
  overflow scroll