.global-chat-window-container
  width 100%
  padding 0 2rem 2rem 2rem

.global-title-hambuger-container
  display flex
  justify-content space-between
  border-bottom 1px solid #e7e7e7

.global-chat-window-title
  color #f59000
  font-size 20px