.panel-container
  background-color #f6f8fa
  height 100vh
  min-width 10%
  padding 30px

.hive-logo
  background url("https://openmerchantaccount.com/img2/hive-logo-updated-white-main.png")
  background-repeat no-repeat
  background-size contain
  height 54px
  
.global-chat-title
  font-size 14px
  color white
  background-color #f59000
  padding 7px
  border-radius 4px
  text-align center

.direct-message-user-list
  margin 0
  padding 0
  list-style none

.direct-message-username-display
  margin 12px 0
  font-weight 100

.logo-global-container
  padding-bottom 25px
  
.direct-message-conatiner
  padding-top 25px
  border-top 1px solid #e7e7e7
  overflow scroll
  
  
